@media only screen and (min-width: 34em) {
    main{
        margin: 1em 2em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1.5fr;
        grid-column-gap: 8px;
        /* grid-auto-rows: minmax(100px,auto); */
    }

    /* #principle1, #principle2{
        height: 1150px;
    } */

    #principle3{
        grid-column-start: 1;
        grid-column-end: 3;
        height: 100%;
    }
}